

#form1
{
    background-color: white;
    padding-left: 200px;
    padding-bottom: 20px;
}

input
{
display: block;   
}

#message
{
  
    
    padding: 5px;
     
}
#error
{
    background-color: palevioletred;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
    text-align: left;
    text-decoration-style:solid;
}
#resultat
{
    background-color: green;
    
    color: white;
    
    text-align:left;
    
}